/* Шрифты */
@font-face {
  font-family: 'Nuosu SIL';
  src: url('./fonts/NuosuSIL/NuosuSIL-Regular.woff2') format('woff2'),
    url('./fonts/NuosuSIL/NuosuSIL-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PaytoneOne';
  src: url('./fonts/PaytoneOne/PaytoneOne-Regular.woff2') format('woff2'),
    url('./fonts/PaytoneOne/PaytoneOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nuosu SIL', sans-serif;
}

/* Шапка */
header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f4f8;
  padding: 0px 0px 6px 42px;
  background: linear-gradient(90deg, #f2f5fb, #c7d6f2);
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 12px;
  text-wrap: nowrap;
}

.logo img {
  width: 297px;
  height: 105px;
  margin: 70px 100px 0 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 54px;
  margin-top: 80px;
}

.menu li a {
  text-decoration: none;
  color: #2b3c5bc7;
  font-size: 32px;
}

/* Стили для полукруга */
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4px;
  top: -10px;
}

.inside-semicircle {
  position: absolute;
  top: 64px;
  right: 112px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.phone-container {
  display: flex;
}

.phone-svg {
  width: 100px;
  height: auto;
  position: relative;
  left: 10px;
}

.svg-text {
  font-family: PaytoneOne, sans-serif;
  color: #1d2c57;
  font-size: 48px;
}

.svg-info {
  font-size: 32px;
  color: #1d2c57;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.catalog button,
.search button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

.search input {
  padding: 10px;
  border: 1px solid #000;
}

.user-actions a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

/* Основной баннер */
.main-banner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
}

.main-banner img {
  max-width: 100%;
  height: auto;
}

.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Категории товаров */
.categories {
  background-color: #f0f4f8;
  text-align: center;
  padding: 20px;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category img {
  width: 100px;
  height: 100px;
}

/* Акции */
.sales {
  text-align: center;
  padding: 20px;
}

/* Контакты */
.contacts {
  background-color: #f0f0f0;
  padding: 20px;
}

.contact-details {
  margin-bottom: 20px;
}

.map img {
  width: 100%;
  height: auto;
}

/* Футер */
footer {
  background-color: #f0f4f8;
  padding: 10px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer ul li a {
  text-decoration: none;
  color: #000;
}
