@font-face {
  font-family: 'PaytoneOne';
  src: url('./fonts/PaytoneOne/PaytoneOne-Regular.woff2') format('woff2'),
    url('./fonts/PaytoneOne/PaytoneOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Light.woff2') format('woff2'),
    url('./fonts/Roboto/Roboto-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 1344px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #143471;
}

/* Шапка */
header {
  background: linear-gradient(90deg, #f2f5fb, #c7d6f2);
}

header .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  position: relative;
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 12px;
  text-wrap: nowrap;
}

.logo img {
  width: 297px;
  height: 105px;
  margin: 70px 100px 0 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 54px;
  margin-top: 80px;
}

.menu li a {
  color: #2b3c5bc7;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #042766;
}

/* Стили для полукруга */
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.inside-semicircle {
  position: absolute;
  top: 64px;
  right: 112px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.phone-container {
  display: flex;
}

.phone-svg {
  width: 100px;
  height: auto;
  position: relative;
  left: 10px;
}

.svg-text {
  font-family: PaytoneOne, sans-serif;
  color: #1d2c57;
  font-size: 2rem;
}

.svg-info {
  color: #1d2c57;
  text-align: center;
}

/* Раздел поиска */
.search-bar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 36px auto;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search input {
  padding: 10px 45px 10px 20px;
  border: 1px solid #000;
  background-color: #e0e7f4;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 45px;
  width: 720px;
  font-size: 1rem;
  background-image: url('./images/search-icon.svg');
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 20px;
}

.login,
.shopping-cart,
.catalog {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.login:hover,
.shopping-cart:hover,
.catalog:hover {
  transform: scale(1.03);
}

.login,
.shopping-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Основной баннер */
.main-banner .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 200px 0;
}

.main-banner img {
  width: 666px;
}

.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text h1 {
  font-size: 2.7rem;
  font-weight: 200;
  line-height: 3rem;
  text-align: center;
  color: #0d4bc1;
  text-shadow: 2px 2px 4px rgba(101, 101, 101, 0.715);
  margin: 0 auto;
}

/* Категории товаров */
.categories {
  background-color: #e0e7f4;
  text-align: center;
  padding: 34px;
}

.categories h2 {
  font-weight: 400;
  margin-bottom: 34px;
  color: #0f2652;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 217px;
}

.category {
  transition: transform 0.3s ease;
}

.category:hover {
  transform: scale(1.02);
}

.category img {
  width: 267px;
  height: 257px;
}

.image-caption {
  padding: 20px 30px;
  background: #6e86bb;
  border-radius: 40px;
  color: #fff;
}

/* Акции */
.sales {
  text-align: center;
  padding: 160px 0 40px 0;
}

.sales h2 {
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: #143471;
}

.sales-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.sales-container p {
  font-size: 40px;
  line-height: 53px;
  color: #bec3cd;
  text-align: left;
}

/* Контакты */
.contacts {
  padding-bottom: 97px;
}

.contacts .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
}

.contacts iframe {
  height: 336px;
  width: 498px;
}

.gray-section {
  background: #d9d9d9;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.gray-section h2 {
  font-size: 40px;
  color: #143471;
}

.contact-details {
  padding-bottom: 20px;
}

.contact-sec {
  display: flex;
  gap: 16px;
  margin-top: 30px;
  color: #515f7d;
}

.contact-sec img {
  width: 36px;
  height: auto;
}

/* Футер */
footer {
  padding: 10px;
  text-align: center;
  background: #d9d9d9;
  padding: 31px 0;
  font-weight: 200;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 108px;
}

footer ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  color: rgba(43, 60, 91, 0.78);
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: #04245f;
}
